{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    {% if latestPost %}

        <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary"
             style="
                position: relative;
                background-image: linear-gradient(to bottom, rgb(35 40 45 / 84%), rgba(0, 0, 0, 0.5)),
                     url({{ latestPost.imgUrl }});
                background-size: cover;
                background-position: center;">

            <div class="col-lg-6 px-0">
                <h1 class="display-4 fst-italic">{{ latestPost.title }}</h1>
                <p class="lead my-3">{{ latestPost.content|slice(0, 100) }}...</p>
                <p class="lead mb-0"><a href="{{ path('post_show', {id: latestPost.id}) }}" target="_blank" class="text-body-emphasis fw-bold">Continue reading...</a></p>
            </div>
        </div>
    {% endif %}

    <div class="row mb-2" style="align-items: stretch;">
        {% for post in posts %}
            {% include '_post_card.html.twig' with {'post': post} %}
        {% endfor %}
    </div>

    <style>
        #navigation>* {
            display: flex;
            width: 100%;
            justify-content: center;
            gap: 20px;
            font-size: 1.2rem;
            margin-bottom: 1.2rem;
        }
    </style>

    <div id="navigation">
        {{ knp_pagination_render(posts) }}
    </div>

{% endblock %}
