{% extends 'base.html.twig' %}

{% block title %}Blog - {{ post.title }}{% endblock %}

{% block body %}
    <article class="blog-post mb-5" style="display: flow-root;">
        <h2 class="post-title display-5 link-body-emphasis mb-1">{{ post.title }}</h2>
        <div class="post-categories" style="gap: 20px; display: flex; flex-wrap: wrap;">
            {% for category in post.categories %}
                <span class="d-inline-block mb-2 text-secondary">{{ category.title }}</span>
            {% endfor %}
        </div>
        <p class="blog-post-meta">{{ post.createdAt|date('Y-m-d H:i') }} by <a href="{{path('user_posts', {id: post.user.id})}}">{{ post.user.fullname }} @{{ post.user.username }}</a></p>

        <div class="mb-4 d-flex gap-2">
            {% if is_granted('EDIT', post) %}
                <a href="{{ path('post_edit', { id: post.id }) }}" class="btn btn-warning">Edit</a>
            {% endif %}
            {% if is_granted('DELETE', post) %}
                <form method="post" action="{{ path('post_delete', { id: post.id }) }}" onsubmit="return confirm('Are you sure?');" style="display:inline;">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
                    <button class="btn btn-danger">Delete</button>
                </form>
            {% endif %}
        </div>

        <div>
            <a href="{{ post.imgUrl }}" target="_blank"><img class="post-img" style="max-width: 420px; max-height: 150px; float: left; margin: 0px 30px 30px 0;" src="{{ post.imgUrl }}" alt="Post image"></a>
            <p style="white-space: pre-wrap;">{{ post.content }}</p>
        </div>
    </article>

    {% if app.user %}
    <div class="new-comment mb-4">
        <h4>Add a Comment <span id="new-comment-reply-text"></span><button class="btn btn-link reply-cancel-btn my-0" style="display: none">Cancel</button></h4>
        {{ form_start(commentForm, { 'action': path('post_comment', {'id': post.id}), 'method': 'POST' }) }}
        {{ form_widget(commentForm) }}
        <input type="hidden" name="parent_id" value="">
        <button name="post_submit_comment" class="btn btn-outline-primary" type="submit">Post Comment</button>
        {{ form_end(commentForm) }}
    </div>

    <div class="comments mb-4">
        <h3>Comments</h3>

        <div class="d-flex flex-column gap-4">
        {% for comment in rootComments %}
            <div class="card p-4">
                <div class="d-flex flex-column text-secondary mb-2">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <span class="comment-author fw-bold">{{ comment.author.fullname}} @{{ comment.author.username }}</span>
                        <div>
                            <button class="btn btn-link reply-btn ps-0" data-parent-id="{{ comment.id }}" data-username="{{ comment.author.username }}">Reply</button>
                            {% if is_granted('DELETE', comment) %}
                                <form method="POST" action="{{ path('comment_delete', {'id': comment.id}) }}" class="d-inline">
                                    <input type="hidden" name="_token" value="{{ csrf_token('del-comment' ~ comment.id) }}">
                                    <button name="comment_delete_btn" class="btn btn-link text-danger btn-sm">Delete</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                    <small>{{ comment.createdAt|date('Y-m-d H:i') }}</small>
                </div>
                <p class="comment-content mb-0">{{ comment.content }}</p>

                {% if comment.children|length > 0 %}
                    <p class="my-4 text-info">Replies:</p>
                    <div class="replies d-flex flex-column gap-4">
                        {% include 'post/_comments.html.twig' with {'comments': comment.children} %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        </div>


        <script>
            document.querySelectorAll('.reply-btn').forEach(button => {
                button.addEventListener('click', () => {
                    const parentIdInput = document.querySelector('input[name="parent_id"]');
                    parentIdInput.value = button.dataset.parentId;
                    document.querySelector("form").scrollIntoView();
                    document.querySelector("#new-comment-reply-text").innerText = `(reply to ${button.dataset.username})`;
                    document.querySelector(".reply-cancel-btn").style = "display: unset";
                });
            });

            document.querySelectorAll('.reply-cancel-btn').forEach(button => {
                button.addEventListener('click', () => {
                    const parentIdInput = document.querySelector('input[name="parent_id"]');
                    parentIdInput.value = "";
                    document.querySelector("#new-comment-reply-text").innerText = '';
                    button.style = "display: none";
                });
            });
        </script>
    </div>


    {% else %}
        <p>Please <a href="{{ path('app_login') }}">log in</a> to add a comment.</p>
    {% endif %}

{% endblock %}
